:root {
  --vibrant-purple: #755cde;
  --summer-tangerine: #f6a560;
  --mint-toothpaste: #61c4b7;
  --peach-pink: #f39e9e;
  --salmon-pink: #eb7565;
  --maroon-purple: #552049;
  --light-cream: #fff7f0;
  --black: #030303;
  --gray: #7a746e;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--light-cream);
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 0 16px;
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  margin: 8px 8px 0;
  min-width: 90vw;
  justify-content: space-between;
}

.main-logo {
  height: 48px;
}

.cta-btn {
  background-color: var(--black);
  color: white;
  border-radius: 28px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  width: 176px;
  height: 44px;
}

/* main */
main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 32px 16px;
  gap: 16px;
}

.hero__title {
  color: var(--Black, #030303);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.hero__content {
  color: var(--gray);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 29px;
}

.solutions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0 8px;
}

.solutions__item {
  color: white;
  font-size: 28px;
  font-weight: 500;
  border-radius: 8px;
  padding: 55px;
  position: relative;
}

.solutions__item p {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.solutions__item:nth-child(1) {
  background-color: var(--vibrant-purple);
  grid-column: span 2;
  grid-row: span 18;
}

.solutions__item:nth-child(1) img {
  width: 128px;
  height: 192px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.solutions__item:nth-child(2) {
  background-color: var(--summer-tangerine);
  grid-row: span 9;
}

.solutions__item:nth-child(2) img {
  height: 64px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.solutions__item:nth-child(3) {
  background-color: var(--peach-pink);
  grid-row: span 9;
}

.solutions__item:nth-child(3) img {
  height: 64px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.solutions__item:nth-child(4) {
  background-color: var(--salmon-pink);
  grid-column: span 2;
  grid-row: span 8;
}

.solutions__item:nth-child(4) img {
  position: absolute;
  width: 128px;
  height: 64px;
  flex-shrink: 0;
  right: 24px;
  top: 24px;
}

.solutions__item:nth-child(5) {
  background-color: var(--mint-toothpaste);
  grid-column: span 2;
  grid-row: span 8;
}

.solutions__item:nth-child(5) img {
  width: 160px;
  height: 64px;
  flex-shrink: 0;
  position: absolute;
  right: 24px;
  top: 24px;
}

.solutions__item:nth-child(6) {
  background-color: var(--maroon-purple);
  grid-column: span 2;
  grid-row: span 8;
}

.solutions__item:nth-child(6) img {
  width: 160px;
  height: 64px;
  flex-shrink: 0;
  position: absolute;
  right: 8px;
  top: 24px;
}

.designer {
  display: block;
  text-align: center;
  margin: 100px 0;
}

.designer__avatar {
  height: 300px;
}

.designer__title {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  margin: 40px 0px 0px;
}

.designer__content {
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin: 24px 0;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.portfolio__content {
  position: relative;
  margin: 0 auto;
  background-color: green;
  height: 100%;
}

/* carousel */
.carousel {
  width: 100%;
  height: 180px;
  position: relative;
}

.carousel__container {
  display: flex;
  width: 100vw;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: -16px;
  overflow: hidden;
}

.carousel__container img {
  position: absolute;
  height: auto;
  width: 270px;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.carousel__arrow {
  height: 64px;
}

.portfolio button {
  background-color: var(--light-cream);
  border: none;
}

.cta-btn--accent {
  background-color: var(--salmon-pink);
  border-radius: 28px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  width: 176px;
  height: 44px;
}

.booking {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  gap: 24px;
  width: 100%;
  height: fit-content;
  margin: 100px 0 40px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  padding: 48px 51px;
}

.booking__content {
  text-align: center;
}

footer {
  display: flex;
  margin: 8px 8px 0;
  min-width: 90vw;
  justify-content: space-between;
}

/* tablet size */

@media screen and (min-width: 768px) {
  body {
    padding: 0 39px;
  }

  .cta-btn:hover {
    background-color: var(--vibrant-purple);
  }

  .cta-btn--accent:hover {
    background-color: var(--summer-tangerine);
  }

  .solutions {
    grid-template-columns: repeat(4, 1fr);
  }

  .solutions__item:nth-child(1) {
    grid-row: span 16;
  }

  .solutions__item:nth-child(2) {
    grid-row: span 8;
  }

  .solutions__item:nth-child(3) {
    grid-row: span 8;
  }

  .designer {
    display: flex;
  }

  .designer__avatar {
    position: relative;
    width: 364px;
    height: 364px;
    left: -40px;
  }

  .designer__title {
    font-size: 32px;
    margin: 0;
  }

  .designer__content {
    font-size: 18px;
    line-height: 28px;
  }

  .designer__text {
    text-align: start;
    width: 339px;
    margin-left: 69px;
    /* margin: 0 40px 120px 69px; overflows document */
  }

  .portfolio {
    margin: 110px 0 0;
    overflow: hidden;
  }

  .carousel {
    height: 360px;
  }

  .carousel__container img {
    height: 360px;
    width: 540px;
  }

  .booking {
    padding: 56px 75px 64px;
  }

  .booking__title {
    margin: 0;
  }
}

@media screen and (min-width: 1025px) {
  body {
    padding: 0 165px;
  }

  .hero__title {
    font-size: 56px;
  }
  .solutions {
    grid-template-columns: repeat(6, 1fr);
    max-width: 1111px;
    align-self: center;
  }

  .solutions__item:nth-child(1) {
    max-width: 354px;
    max-height: 364px;
  }

  .solutions__item:nth-child(2) {
    width: 164px;
    height: 182px;
  }

  .solutions__item:nth-child(3) {
    width: 164px;
    height: 182px;
  }

  .solutions__item:nth-child(4) {
    order: 3;
    width: 354px;
    height: 158px;
  }

  .solutions__item:nth-child(5) {
    width: 354px;
    height: 182px;
  }

  .solutions__item:nth-child(6) {
    order: 4;
    width: 354px;
    height: 158px;
  }

  .designer {
    align-self: center;
    align-items: center;
  }

  .designer__avatar {
    width: 445px;
    height: 445px;
    left: 0;
  }

  .designer__title {
    font-size: 40px;
  }

  .designer__text {
    min-width: 540px;
  }

  .booking {
    max-width: 1095px;
  }
}
